# API Environment Variables
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/fitness_dev"
PORT=3000
NODE_ENV=development

# BetterAuth
BETTER_AUTH_SECRET="your-secret-key-here"
BETTER_AUTH_URL="http://localhost:3000"

# Mobile App Environment Variables
EXPO_PUBLIC_API_URL="http://localhost:3000"